output_streamvggt/
ckpt/
*/__pycache__/
*.pyc
*.mp4
src/streamvggt/heads/track_modules/__pycache__/__init__.cpython-311.pyc
src/streamvggt/heads/track_modules/__pycache__/base_track_predictor.cpython-311.pyc
src/streamvggt/heads/track_modules/__pycache__/blocks.cpython-311.pyc
src/streamvggt/heads/track_modules/__pycache__/modules.cpython-311.pyc
src/streamvggt/heads/track_modules/__pycache__/utils.cpython-311.pyc
attention_plots_frame_level/*
attention_plots/*
attention_plots_layer_averaged/*
attention_plots_scaled/*
eval_results/*/*/*/*
eval_results/mv_recon/runs.zip
src/eval/mv_recon/dataset_utils/__pycache__/__init__.cpython-311.pyc
src/eval/mv_recon/dataset_utils/__pycache__/cropping.cpython-311.pyc
src/eval/mv_recon/dataset_utils/__pycache__/transforms.cpython-311.pyc
src/eval/mv_recon/dataset_utils/__pycache__/__init__.cpython-311.pyc
src/eval/mv_recon/dataset_utils/__pycache__/cropping.cpython-311.pyc
src/eval/mv_recon/dataset_utils/__pycache__/transforms.cpython-311.pyc
analysis*/
*.zip
eval_results/*/*/*/
eval_results/*/*/
eval_results/*/
eval_results/*
src/croco/models/__pycache__/croco.cpython-311.pyc
src/croco/models/__pycache__/dpt_block.cpython-311.pyc
src/croco/models/__pycache__/masking.cpython-311.pyc
src/croco/models/__pycache__/pos_embed.cpython-311.pyc
src/croco/models/curope/__pycache__/__init__.cpython-311.pyc
src/croco/models/curope/__pycache__/curope2d.cpython-311.pyc
video_depth_analyze/*/*
video_depth_analyze/*
mv_kf100_200_optmem/*
optmem4_rec_analyze/*
video_depth_analyze_optmem4/*
mv_*/*
plot_eviction/*
plot_eviction_fps2.5/*
pyramid*/*
result_analysis/*
result_analysis/*/*
result_analysis/*/*/*
